label {
  display: block;
}

.page {
  border: 1px solid #ff0000;
  margin:  auto 300px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ff0000;
}

table td {
  border: 1px solid #ff0000;
}
